body{
	color: #3366ff;
	background-color: #FFFFD8;
	font-family: Trebuchet MS;
}
#navbar{
	position: : fixed;
}

#navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E0FEFE;
}

#navbar li{
	float: left;
}


#navbar li a{
	display: block;
	color: #3366ff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar li a:hover:not(.active) {
	background-color: #99ccff;
}

.active {
  background-color: #C7CEEA;
}

#about{
	text-align: center;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;

	font-size: 300%;
	background-color: #CEC8E4;
}

.flexbox{
	margin-top: 5%;
	margin-left: 5%;
	padding-bottom: 3%;
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: space-between;
	/*align-content: space-around;*/
}



